.navbar {
  display: flex;
  align-items: center;
  background-color: #3d5a80;
  height: 50px;
  padding: 10px;
  justify-content: space-around;
  color: #f4f3ee;

  .navbar_logo {
    font-weight: bold;
  }

  .navbar_user {
    display: flex;
    gap: 10px;

    img {
      background-color: #f4f3ee;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      object-fit: cover;
    }

    button {
      background-color: #293241;
      color: #f4f3ee;
      font-size: 10px;
      border: none;
      cursor: pointer;
    }
  }
}
