.message_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: white;
  padding: 10px;

  input {
    width: 100%;
    border: none;
    outline: none;
    color: #293241;
    font-size: 18px;

    // &::placeholder {
    //   color: #f4f3ee;
    // }
  }

  .message_send {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      height: 24px;
      cursor: pointer;
    }

    button {
      border: none;
      padding: 10px 15px;
      color: white;
      background-color: #293241;
    }
  }
}
